/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile della pagina */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    text-align: center;
    color: #444;
    margin: 0 0 20px 0;
    font-weight: 300;
}

.tables, .order-form, .orders {
    width: 100%;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: 300;
    color: #666;
}

select, button {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #f9f9f9;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orders {
    width: 100%;
    text-align: center;
}

.delete-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #c0392b;
}

.delete-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto; /* Sposta il pulsante "Elimina" a destra */
    margin-bottom: 10px; /* Aggiungi margine inferiore per separare dall'input */
}

.order-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    position: relative; /* Per posizionare il pulsante "Elimina" in modo assoluto */
}

.delete-button {
    position: absolute;
    bottom: 5px; /* Posiziona il pulsante "Elimina" a 5px dal basso */
    left: 50%; /* Centra orizzontalmente il pulsante "Elimina" */
    transform: translateX(-50%); /* Centra orizzontalmente il pulsante "Elimina" rispetto al suo contenitore */
}
